<div class="js-render">
	<div id="mySidebar" class="sidebar bg-light">
		<div class="title d-flex align-items-center">
			<img
				src="{% static '' %}img/logo-update.png"
				alt=""
				style="height: 50px; width: auto; object-fit: contain"
			/>
		</div>
		<hr />
		<ul class="nav flex-column" id="nav_accordion">
			<li class="nav-item">
				<a class="nav-link abouts" href="{% url 'dashboard' %}"
					><i class="nav-icon fas fa-tachometer-alt"></i
					><span class="nav-name">Dashboard</span></a
				>
			</li>
			<li class="nav-item accordion">
				<a class="nav-link"
					><i class="nav-icon fas fa-sitemap dropdown-btn"></i
					><span class="nav-name">Package Management</span>
					<span class=""><i class="right fas fa-angle-left"></i></span
				></a>
			</li>
			<ul class="dropdown-container nav flex-column panel">
				<li class="nav-item">
					<a class="nav-link abouts" href="#"
						><i class="nav-icon far fa-circle"></i
						><span class="nav-name">Units</span></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link abouts" href="#"
						><i class="nav-icon far fa-circle"></i
						><span class="nav-name">Custom Charges</span></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link abouts" href="#"
						><i class="nav-icon far fa-circle"></i
						><span class="nav-name">Currency</span></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link abouts" href="#"
						><i class="nav-icon far fa-circle"></i
						><span class="nav-name">Products</span></a
					>
				</li>
			</ul>
			<li class="nav-item accordion blink">
				<a href="#" class="nav-link font-weight-bolder"
					><i class="nav-icon fas fa-layer-group dropdown-btn"></i
					><span class="nav-name">Booking</span>
					<span class=""><i class="right fas fa-angle-left"></i></span
				></a>
			</li>
			<ul class="dropdown-container nav flex-column panel">
				<li class="nav-item nav-bg">
					<a class="nav-link abouts text-white" href="{% url 'booking_list' %}"
						><i class="nav-icon far fa-circle"></i
						><span class="nav-name">Booking List</span></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link abouts" href="{% url 'create_booking' %}"
						><i class="nav-icon far fa-circle"></i
						><span class="nav-name">Create New Booking</span></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link abouts" href="#" href=""
						><i class="nav-icon far fa-circle"></i
						><span class="nav-name">Print Barcode</span></a
					>
				</li>
			</ul>
			<li class="nav-item accordion">
				<a href="#" class="nav-link"
					><i class="nav-icon fas fa-money-bill dropdown-btn"></i
					><span class="nav-name">Payment Option</span>
					<span class=""><i class="right fas fa-angle-left"></i></span
				></a>
			</li>
			<ul class="dropdown-container nav flex-column panel">
				<li class="nav-item">
					<a class="nav-link abouts" href="{% url 'new_payment' %}"
						><i class="nav-icon far fa-circle"></i
						><span class="nav-name">Make New Payment</span></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link abouts" href="{% url 'payment_list' %}"
						><i class="nav-icon far fa-circle"></i
						><span class="nav-name">Payment History</span></a
					>
				</li>
			</ul>
			<li class="nav-item">
				<a class="nav-link" href="packingList.html" href=""
					><i class="nav-icon fas fa-cubes"></i
					><span class="nav-name">Packing List</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link abouts" href="customerList.html"
					><i class="nav-icon fas fa-user-friends"></i
					><span class="nav-name">Customer List</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link abouts" href="#"
					><i class="nav-icon fab fa-wpexplorer"></i
					><span class="nav-name">Order Tracking</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link abouts" href="shipmentList.html"
					><i class="nav-icon fas fa-shipping-fast"></i
					><span class="nav-name">Shipment List</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link abouts" href="dueList.html"
					><i class="nav-icon fas fa-file-invoice"></i
					><span class="nav-name">Due List</span></a
				>
			</li>
			<li class="nav-item accordion">
				<a class="nav-link" href="#"
					><i class="nav-icon fas fa-donate"></i
					><span class="nav-name">Office Expense </span
					><span class=""><i class="right fas fa-angle-left"></i></span
				></a>
			</li>
			<ul class="dropdown-container nav flex-column panel">
				<li class="nav-item">
					<a class="nav-link" href="#"
						><i class="nav-icon far fa-circle"></i
						><span class="nav-name">Expenses Categories</span></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"
						><i class="nav-icon far fa-circle dropdown-btn"></i
						><span class="nav-name">BD Office Expenses</span></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"
						><i class="nav-icon far fa-circle dropdown-btn"></i
						><span class="nav-name">MY Office Expenses</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"
						><i class="nav-icon far fa-circle dropdown-btn"></i
						><span class="nav-name">All Office Expenses</span>
					</a>
				</li>
			</ul>
			<li class="nav-item accordion">
				<a class="nav-link" href="#"
					><i class="nav-icon fas fa-book dropdown-btn"></i
					><span class="nav-name">Reports</span>
					<span class=""><i class="right fas fa-angle-left"></i></span
				></a>
			</li>
			<ul class="dropdown-container nav flex-column panel">
				<li class="nav-item">
					<a class="nav-link" href="#"
						><i class="nav-icon fas fa-arrow-circle-right"></i
						><span class="nav-name">ML Expense Report</span></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"
						><i class="nav-icon fas fa-arrow-circle-right"></i
						><span class="nav-name">BD Expense Report</span></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"
						><i class="nav-icon fas fa-arrow-circle-right"></i
						><span class="nav-name">Shipment Report</span></a
					>
				</li>
				<li class="nav-item accordion">
					<a class="nav-link" href="#"
						><i class="nav-icon fas fa-arrow-circle-right"></i
						><span class="nav-name">Booking</span>
						<i class="right fas fa-angle-left"></i
					></a>
				</li>
				<ul class="dropdown-container nav flex-column panel">
					<li class="nav-item">
						<a class="nav-link" href="#"
							><i class="nav-icon far fa-dot-circle"></i
							><span class="nav-name">Date Wise Booking</span></a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"
							><i class="nav-icon far fa-dot-circle"></i
							><span class="nav-name">Daily Booking</span></a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"
							><i class="nav-icon far fa-dot-circle"></i
							><span class="nav-name">Monthly</span></a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"
							><i class="nav-icon far fa-dot-circle"></i
							><span class="nav-name">Yearly</span></a
						>
					</li>
				</ul>
			</ul>
			<li class="nav-item">
				<a class="nav-link" href="users.html"
					><i class="nav-icon fas fa-users"></i
					><span class="nav-name">Users</span></a
				>
			</li>
			<li class="nav-item accordion">
				<a class="nav-link" href="#"
					><i class="nav-icon fas fa-cog"></i
					><span class="nav-name">Settings</span
					><i class="right fas fa-angle-left"></i
				></a>
			</li>
			<ul class="dropdown-container nav flex-column panel">
				<li class="nav-item">
					<a class="nav-link" href="#"
						><i class="nav-icon far fa-dot-circle"></i
						><span class="nav-name">Company Profile</span></a
					>
				</li>
				<li class="nav-item accordion">
					<a class="nav-link" href="#"
						><i class="nav-icon fas fa-arrow-circle-right"></i
						><span class="nav-name">Address Management</span
						><i class="right fas fa-angle-left"></i
					></a>
				</li>
				<ul class="dropdown-container nav flex-column panel">
					<li class="nav-item">
						<a class="nav-link" href="#"
							><i class="nav-icon far fa-dot-circle"></i
							><span class="nav-name">Country</span></a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"
							><i class="nav-icon far fa-dot-circle"></i
							><span class="nav-name">State</span></a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"
							><i class="nav-icon far fa-dot-circle"></i
							><span class="nav-name">City / Town</span></a
						>
					</li>
				</ul>
			</ul>
		</ul>
	</div>
</div>
<nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-light bar">
	<ul class="navbar-nav mr-auto d-flex align-items-center">
		<div
			class="nav-item mr-3"
			onclick="toggleSidebar()"
			onclick="toggleSidebar()"
		>
			<i class="fas fa-bars"></i>
		</div>
	</ul>
	<ul class="navbar-nav ml-auto d-flex align-items-center dropdown-menu-right">
		<form action="">
			<div class="nav-item dropdown">
				<a class="nav-link" data-toggle="dropdown" href="#">
					<img
						src="assets/img/logo-update.png"
						class="img-circle"
						style="height: 30px"
						alt="User Image"
					/>
					Admin
				</a>
				<div
					class="dropdown-menu mt-3"
					x-placement="bottom-start"
					style="
						position: absolute;
						will-change: transform;
						top: 0px;
						left: 0px;
						transform: translate3d(-65px, 38px, 0px);
					"
				>
					<a href="changeAvatar.html" class="dropdown-item"
						><i class="fas fa-user-edit mr-2"></i> Change Avatar</a
					>
					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item btn"
						><i class="fas fa-sign-out-alt mr-2"></i> Sign Out</a
					>
				</div>
			</div>
		</form>
	</ul>
</nav>
