.adjust {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
label{
	font-weight: bold;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	border-top: 2px solid #0b7cac;
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}

#menu3,
#menu2,
#menu1 {
	height: 300px;
}
.profile-pic {
	max-width: 222px;
	max-height: 222px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.file-upload {
	display: none;
}
.circle {
	border-radius: 5px;
	overflow: hidden;
	width: 228px;
	height: 228px;
	border: 8px solid rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 72px;
    left: 25%;
	transition: all 0.3s;
}

.circle:hover {
	background-color: #909090;
	cursor: pointer;
}
.pics {
	max-width: 100%;
	height: auto;
	min-width: 212px;
	min-height: 212px;
}
